body {
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
header {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 300px;
    height: 110px;
}

main {
    padding: 2rem;
    flex: 1;
}
fieldset {
    background-color: #F4F1ED;
    color: firebrick;
    border-color: darkgoldenrod;
    border-radius: 7px;
    width: 400px;
}
legend {
    color: darkblue;
    font-weight: bold;
}
.elemento-formulario {
    display: flex;
    flex-direction: row;    
    padding: 10px;
    align-items: center;
    gap: 10px;
}
.imagenincidencia{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.imagenincidencia label {
    margin-top: -15px;
    margin-bottom: 10px;
}
.botones {
    align-items: center;
    text-align: center;
    margin-top: 40px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
}
footer h3{
    color: #F7C600;
}
footer a{
    color: white;
    text-decoration: none;
}
footer img{
    width: 48px;
    height: 48px;
}