.formato-texto {
    color: white;
    font-size: 20px;
    position: relative;
    top: 20px;
}

div.formato-rectangulo1 {
    background-color: #464646;
    float: left;
    margin-top: 20px;
    margin-right: 40px;
    height: 65px;
    width: 160px;
    text-align: center;
    border-bottom-right-radius: 80px;
}

.formato-rectangulo2 {
    background-color: #464646;
    float: left;
    margin-top: 20px;
    margin-right: 40px;
    height: 65px;
    width: 160px;
    text-align: center;
    border-top-left-radius: 80px;
}

div.formato-rectangulo3 {
    background-color: #464646;
    float: left;
    margin-top: 20px;
    margin-right: 40px;
    height: 65px;
    width: 160px;
    text-align: center;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

div.formato-rectangulo4 {
    background-color: #464646;
    float: left;
    margin-top: 20px;
    margin-right: 40px;
    height: 65px;
    width: 160px;
    text-align: center;
    border-top-left-radius: 90px;
    border-bottom-right-radius: 90px;
}

div.formato-rectangulo5 {
    background-color: #464646;
    float: left;
    margin-top: 20px;
    margin-right: 40px;
    height: 65px;
    width: 160px;
    text-align: center;
}

div.formato-rectangulo6 {
    background-color: #464646;
    float: left;
    margin-top: 20px;
    margin-right: 40px;
    height: 65px;
    width: 80px;
    text-align: center;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;

}

div.formato-rectangulo7 {
    background-color: #464646;
    float: left;
    margin-top: 20px;
    margin-right: 40px;
    height: 65px;
    width: 160px;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 90px;


}