body {
    font-family: Arial, sans-serif;
    background-color: #F9F9F9;
    color:#333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4a90e2;
    color: white;
    text-align: center;
}

header h1{
    font-size: 2rem;
    font-weight: normal;
}

.menu-navegacion {
    background-color: #2c3e50;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0.5rem;
}

nav li {
    display: inline-block;
    margin: 0.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.5s ease;
    margin:20px
}

nav a:hover {
    color: #1ABC9C;
}

main {
    flex: 1;
    background-color: white;
    padding: 2rem;
}

section {
    max-width: 800px;
    margin: 0 auto;
}

section ul {
    margin-top: -15px;
}

h2 {
    margin-top: -5px;
    text-align: center;
    color: #333;
}

footer {
    background-color: #4a90e2;
    color: white;
    text-align: center;
    font-size: 0.9rem;
}