body {
    font-family: 'Arial', sans-serif;
    background-color: #F4F4F4;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

.cabecera-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecera-imagen img {
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

main {
    flex: 1;
    padding: 0 2rem 2rem 2rem;
}

main h1 {
    text-align: center;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
}

.tarjeta {
    background-color: #F9F9F9;
    border: 2px solid #CCC;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 300px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.tarjeta:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.tarjeta img {
    width: 75%;
    border-radius: 10px;
}

.tarjeta h2 {
    color: #333;
}

.tarjeta .descripcion {
    color: #777;
}

.tarjeta .precio {
    color: #E74C3C;
    font-size: 1.25rem;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    font-size: 0.9rem;
}
